
#right-panel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel-placeholder {
  color: var(--secondary-text-color);
  font-size: 1.1rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  color: var(--secondary-text-color);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-button:hover {
  color: var(--text_color);
}

.open-right-panel{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: left;
    padding-left: 4rem;
    padding-top: 2rem;
}

h1 {
padding: 0;
margin: 0;
}

/* styles.css */

.tab-menu {
  display: flex;
  margin-bottom: 0;
  margin-top: 1rem;
}

.tab {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background-color: var(--sp-tab-bg); /* Slightly darker than unselected tab */
  color: var(--sp-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 4px;
  transition: background-color 0.2s ease;
}

.tab:hover {
  background-color: var(--sp-tab-bg-hover);
}

.tab.active {
  background-color: var(--sp-bg-color);
}

.tab-content {
  background-color: var(--sp-bg-color);
  padding: 2rem;
  border-top: none;
  border-radius: 0 10px 10px 10px;
  color: var(--sp-color);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.right-panel-content{
width: 90%;
height: 80vh;
}

.info-table {
border-collapse: collapse;
  width: 100%;
}

.info-table tr {
    border-top: 1px solid var(--sp-color);
}

.info-table td {
    padding: 1em;
}

/* Remove the first border */
.info-table tr:first-child {
  border-top: none;
}

.info-table tr:hover {
  background-color: var(--sp-bg-hover);
}

.info-label {
  font-weight: bold;
  color: var(--sp-accent-color);
  padding: 0;
  margin: 0;
}

.info-value {
  color: var(--sp-color);
  font-weight: normal;
  text-align: right;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

  /* HParams table*/
.hparams-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--sp-table-bg);
  color: var(--sp-table-color);
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.95rem;
  box-shadow: var(--sp-table-shadow);
}

.hparams-table th,
.hparams-table td {
  padding: 0.6em 1em;
  text-align: left;
  /*border-bottom: 1px solid #2e2e2e;*/
}

.hparams-table th {
  background-color: var(--sp-table-header-bg);
  color: var(--sp-table-header-color);
  font-weight: 600;
}

.hparams-table tr:last-child td {
  border-bottom: none;
}

.hparams-table tr:hover td {
  background-color: var(--sp-table-hover-bg);
  transition: background-color 0.2s ease-in-out;
}

/* Optional: make long values break nicely */
.hparams-table td {
  word-break: break-word;
}