body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  overflow-y: hidden;
}

.container {
  display: flex;
}


.image-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-area img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #333;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.image-area p {
  color: #aaa;
  font-size: 1.1rem;
}


h1 {
  margin-bottom: 1.5em;
  color: #fff;
}

table {
  width: 50%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
}

td {
  padding: 1em;
  text-align: left;
}
th {
  background-color: #2a2a2a;
  color: #ccc;
  border-bottom: 1px solid #444;
  position: relative;
  padding: 0;
}

tr:nth-child(even) {
  background-color: #1a1a1a;
}

td {
  border-bottom: 1px solid #333;
}

.sortable {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
  cursor: pointer;
}

.sortable:hover {
  background-color: #4d4d4d;
}

.sort-icon {
  visibility: hidden;
  font-size: 1.2rem;
  color: #888;
  padding-left: 0.5rem;
}

.sortable:hover .sort-icon {
  visibility: visible;
}

.table-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menu when you right click*/
#custom-menu {
  position: absolute;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.dropdown-menu {
    background-color: #222;
    color: #eee;
    padding: 0;
    width: 200px;
    font-family: sans-serif;
    margin: 0;
    list-style: none;
  }

  .menu-item {
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
  }

  .menu-item:hover {
    background-color: #333;
  }

  .has-submenu-wrapper {
    position: relative;
  }
.has-submenu {
    text-decoration: none;
    color: inherit;
    display: block;
}
  .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 0.25rem;
    background-color: #333;
    border-radius: 6px;
    padding: 0;
    list-style: none;
    min-width: 150px;
    z-index: 1001;
    margin-left: 0;
  }

  .has-submenu-wrapper:hover .submenu {
    display: block;
  }

  .submenu .menu-item:hover {
    background-color: #444;
  }